<% layout('layouts/boilerplate') %>

    <body>
        <h1 class="text-center">Welcome to Camping Ground</h1>
        <h3>You can view all the camping sites our users have uploaded!</h3>
        <h3>You can register and login to add your new found campground to share with others!</h3>
        <h3>You can review campgrounds uploaded by others as our registered users!</h3>
        <br>
        <h3>More features to be added to our website!</h3>
    </body>

    </html>